<h1>Cocktails#show</h1>

<p>
  <%= @cocktail.name %>
</p>

<% @cocktail.doses.each do |dose| %>
  <p> <%= dose.description %> </p>
<% end %>

<% @cocktail.ingredients.each do |ingredients| %>
  <p> <%= ingredients.name %> </p>
<% end %>

<%= link_to 'Back to all cocktails', cocktails_path %>
